* {
  box-sizing: border-box;
}

#root {
height: 100%;
}

body,html {
  background: #e5e5e5;
  color: #124369;
  padding: 10px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col5-start] 1fr [col6-start] 1fr [col6-end];
  grid-template-rows: [row1-start] 1fr [row2-start] 5fr [row3-start] 3fr[row2-end];
  color: #444;
  height: 100%;
}

.box {
  color: #124369;
  padding: 10px 20px;
  font-size: 150%;
  border-radius: 20px;
  background: #eaeaea;
  box-shadow:  10px 10px 20px #c3c3c3, 
              -10px -10px 20px #ffffff;
}

.a {
  grid-column: col1-start / col6-end;
  grid-row: row1-start ;
}

.b {
  grid-column: col1-start / col4-start;
  grid-row: row2-start ;
}

.c {
  grid-column: col4-start / col6-end;
  grid-row: row2-start ;
}

.d {
  grid-column: col1-start / col3-start;
  grid-row: row3-start ;
}

.e {
  grid-column: col3-start / col5-start;
  grid-row: row3-start ;
}

.f {
  grid-column: col5-start / col6-end;
  grid-row: row3-start;
}

.title {
  font-size: 12px;
  border-bottom: 3px solid #30a9d5;
  
  p {
    font-size: 16px; 
    font-weight: 600;
    margin: 5px 0;
  }
}

@media (prefers-color-scheme: dark) {

  body,html {
    background: #26282b;
    color: #eaeaea;
  }

  .box {
    color: #eaeaea;
    background: #33383e;
    box-shadow:  10px 10px 20px #2b3035, 
                -10px -10px 20px #3b4047

  }

  .title {
    border-bottom: 3px solid #ee695b;
  }

}