.header {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;

    .timezones {
        text-align: right;

        .main {
            font-size: 2rem;

            span {
                display: inline-block;
                padding-left: 10px;
            }

            .time {
                padding-right: 15px;
                position: relative;

                &::after {
                    display: inline-block;
                    content: '';
                    border-right: 1px solid black;
                    height: 80%;
                    position: absolute;
                    right: 0;
                    top: 10%
                }
            }
        }

        .sub {
            font-size: 1.1rem;

            span {
                display: inline-block;
                padding-left: 10px;
            }

            .time1 {
                padding-right: 10px;
                position: relative;

                &::after {
                    display: inline-block;
                    content: '';
                    border-right: 1px solid black;
                    height: 80%;
                    position: absolute;
                    right: 0;
                    top: 10%;
                }
            }
        }
    }
}