.weather-container {
  display: flex;
  padding-top: 45px;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;

  > * {
    justify-content: center;
    flex: 1;
  }

  img {    
    filter: brightness(500%);
  }

  p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    &.date {
      font-size: 30px;
    font-weight: bold;
    }

    &.desc {
      padding-top: 10px;
      font-size: 12px;
    }
  }
}
